<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>com.pscuderi.appengineangulardemo.servlet.GetUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/GetUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.pscuderi.appengineangulardemo.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.pscuderi.appengineangulardemo.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ToDoList</servlet-name>
		<servlet-class>com.pscuderi.appengineangulardemo.servlet.ToDoListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ToDoList</servlet-name>
		<url-pattern>/ToDoList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteToDoItem</servlet-name>
		<servlet-class>com.pscuderi.appengineangulardemo.servlet.DeleteToDoItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteToDoItem</servlet-name>
		<url-pattern>/DeleteToDoItem</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
